* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Andada Pro', serif;
  background-color: #F6F8F9;
}

$primaryColor: #F6F8F9;
$secondaryColor: #DDDDDD;
$successColor: green;
$dangerColor: red;

$breakpoint-xs: 480px !default;
$breakpoint-sm: 576px !default;
$breakpoint-md: 768px !default;
$breakpoint-lg: 992px !default;
$breakpoint-xl: 1200px !default;
