@import 'App';

.banner-container {
  //margin: 40px 0;
  height: 500px;
  background-image: url('../assets/earth-3537401.jpg');
  background-position: left;
  background-size: cover;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signin-signup-container {
  //width: 750px;
  max-width: 1200px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.6);
  padding: 10px;
  p {
    color: #fff;
    text-align: center;
  }
  h1 {
    color: #fff;
  }
}

.flex-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
  h4 {
    color: #fff;
  }
}

.btn-flex {
  width: 200px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  .signin-button {
    padding: 10px;
    background-color: #DCE1E3;
    border-radius: 5px;
    cursor: pointer;
    &:hover {
      transition: all 0.2s ease-in-out;
      background-color: lightslategrey;
      color: #fff;
    }
  }
  .signup-button {
    padding: 10px;
    background-color: #DCE1E3;
    border-radius: 5px;
    cursor: pointer;
    &:hover {
      transition: all 0.2s ease-in-out;
      background-color: lightslategrey;
      color: #fff;
    }
  }
}

.main-container {
  margin: 10px;
  .card-flex {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
  }
}

.card-container {
  width: 350px;
  box-shadow: 0 5px 35px rgba(0, 0, 0, 0.2);
  height: auto;
  border-radius: 4px;
  margin-bottom: 10px;
  border: solid 1px $secondaryColor;
  .img-responsive {
    width: 100%;
    height: auto;
  }
  .description {
    margin: 10px;
  }
  button {
    padding: 5px;
    width: 150px;
    background-color: blue;
    color: #fff;
    text-decoration: none;
    margin: 10px auto;
    text-align: center;
    border: none;
    cursor: pointer;
  }
}

.about-lessons {
  .main-section {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .text-desc {
    margin: 0 20px;
  }
  .img-section {
    margin: 0 20px;
    width: 100%;
    .img {
      width: 100%;
      height: auto;
    }
  }
}

.lectures {
  .main-container {
    max-width: 1200px;
    margin: 0 auto;
  }
}

